.container {
    background-color: #29395b;
    position: fixed;
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    margin: 0 auto;
    width: 100%;
}

.nav {
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 0 10px 0 10px;
    cursor: pointer;
}

.nav a :hover {
    color: red;
}

.logo {
    width: 13em;
    padding-right: 6em;
}

.header_button {
    background-color: #e84b4b;
    color: #ffffff;
    border-radius: 50px;
    padding: 10px 20px;
    margin-left: 75px;
    border: none;
    font-weight: 900;
}

#header-fixed {
    position: fixed;
    top: 0px; display:none;
    background-color:white;
}

@media screen and (max-width: 600px) {
    .nav {
      background-color: olive;
      font-size: 7px;
    }
  }